* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
  margin-inline: 2%;
  margin-bottom: 2%;
  gap: 2%;
  flex-wrap: wrap;
}
.box {
  width: 32%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  margin-bottom: 1rem;
}
.box h2 {
  width: 200px;
  text-align: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0;
  font-size: 20px;
  margin-left: auto;
}
.box p {
  font-size: 1.5rem;
  padding: 20px;
}
.menu {
  margin-top: 5%;
  margin-bottom: 7%;
}
.menu h1 {
  text-align: center;
}

.color1 {
  background-color: #ffb6c1;
}
.color2 {
  background-color: #ff0000;
  color: white;
}
.color3 {
  background-color: #ffff00;
}

@media (min-width: 992px) {
  .box1 {
    width: 32%;
  }
  .box2 {
    width: 32%;
  }
  .box3 {
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box1,
  .box2 {
    width: 49%;
  }

  .box3 {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}
